@font-face {
		font-family: 'GloberRegular';
		src: url('../fonts/GloberRegular.otf');
		font-weight: normal;
}

@font-face {
		font-family: 'GloberBold';
		src: url('../fonts/GloberBold.otf');
}

@font-face {
		font-family: 'MyriadPro';
		src: url('../fonts/MyriadPro-Regular.ttf');
}

@font-face {
		font-family: 'GloberLight';
		src: url('../fonts/GloberLight');
}