@import 'fonts';

$font: "GloberRegular";
$fontBold : "GloberBold";
$fontLight: "GloberLight";

$mainColor: #2a292a;
$seconColor: #18a2bd;

* {
	box-sizing: border-box;
}

header {
	background: url('../img/bg-header.jpg') no-repeat;
	background-size: cover;
	max-height: 122px;
	font-family: $font;
	color: $mainColor;

	.container { 
		padding: 7px 8px 25px 8px;

		.row { 
			justify-content: space-between;
			align-items: flex-end;
			position: relative;

			.header-container__img-text, .header-container__contacts-text {
			font-size: 14px;
			font-weight: 400;
			line-height: 22px;
			letter-spacing: 0.14px;
			}

			.header-container__img {
				margin-left: 15px;
				margin-right: 376px;
			}

			.header-container__contacts {
				&-block-tel {
					color: $seconColor;
					font-size: 26px;
					font-weight: 400;
					text-transform: uppercase;
				}

				&-block {
					display: flex;
    				align-items: center;

    				&-icon {
    					margin-right: 4px;
    					margin-bottom: 10px;
    					width: 26px;
						height: 26px;
    				}
				}
			}
			.header-container__cta {
				.button {
					margin-bottom: 8px;
				}
			}
		}	
	}	
}

nav {
	position: relative;
	bottom: 25px;
	color: #ffffff;
	font-family: "MyriadPro";
	font-size: 14px;
	font-weight: 400;
	text-transform: uppercase;
	z-index: 5;
	color: $mainColor;

	.nav-container__menu {
		position: absolute;
		display: flex;
		justify-content: space-between;
		list-style: none;
		padding: 0;
    	margin: 0;
    	align-items: center;
    	width: 1100px;
		background: $mainColor;

    	&-element {
    		padding: 19px 18px;
    		position: relative;
    		text-decoration: none;
			color: #fff;
			display: block;

			&:hover {
				background-color: #ffc000;
				color: #000;
				
				&::before {
				content: "";
			    display: block;
			    width: 10px;
			    height: 2px;
			    background-color: #222428;
				transform: rotate(0deg);
				position: absolute;
				left: 0px;
		    	bottom: 27px;
				}

				&::after {
					content: "";
				    display: block;
				    width: 10px;
				    height: 2px;
				    background-color: #222428;
					transform: rotate(0deg);
					position: absolute;
					right: 0px;
			    	bottom: 27px;
				}
			}
    		
    	}
	}
}

.distributor {
	background: url('../img/bg-roll.jpg') no-repeat;
	background-size: cover;
	font-family: $font;

	.container {
		width: 1100px;
	
		.distributor-container{
			padding-top: 20px; 
			width: 100%;
	    	margin-left: 8px;

			&__header {
			padding: 27px 24px 17px 26px;
			background-color: $seconColor;

				&-tile {
					color: #ffffff;
					font-size: 30px;
					font-weight: 400;
					text-transform: uppercase;
					margin: 0;
				}
			}
			&__desc {
				width: 661px;
				background-color: #ffffff;
				padding: 15px 23px;
				position: relative;
				font-family: $fontBold;

				&-title {
					color: #00a1be;
					font-size: 26px;
					font-weight: 400;
					text-transform: uppercase;
					margin: 0;
					margin-bottom: 8px;
				}
				&-subtitle {
					font-size: 16px;
					font-weight: 400;
					text-transform: uppercase;
					margin-bottom: 15px;
					&+.distributor-container__desc-subtitle
					{
						margin-bottom: 10px;
					}
				}

				&-text {
					position: relative;
					font-family: $fontLight;
					font-size: 16px;
					font-weight: 400;

					&::before {
						content: "";
						width: 3px;
						height: 100%;
						background: #000;
						display: block;
						position: absolute;
						left: 10px;
					}
					
					p {
						margin: 0 0 13px 19px;
					}
				}

				.button {
					margin: 3px auto;
    				display: block;
				}

				.roll {
					position: absolute;
					bottom: -45px;
    				left: -180px;
				}	
			}

		}
	}
}

.video {
	&__title {
		background-color: $seconColor;
		height: 152px;
	}
}

.icon-down {
	width: 26px;
	height: 25px;
	background-color: #ffc000;
	border-radius: 50%;
    text-align: center;
    margin: 0 auto;
    padding: 5px;
    display: block;
    cursor: pointer;
}

.button { 
	text-align: center;
	display: block;
	cursor: pointer;
	width: 219px;
	height: 40px;
	padding: 12px;
	background-color: #ffc000;
	color: #2a292a;
	font-family: $fontBold;
	font-size: 16px;
	font-weight: 400;
	line-height: 19.63px;
	text-transform: uppercase;
	position: relative;
	border: none;
	text-decoration: none;
	
	&::before {
		content: "";
	    display: block;
	    width: 23px;
	    height: 2px;
	    background-color: #222428;
		transform: rotate(0deg);
		position: absolute;
		left: 0px;
    	bottom: 18px;
	}

	&::after {
		content: "";
	    display: block;
	    width: 23px;
	    height: 2px;
	    background-color: #222428;
		transform: rotate(0deg);
		position: absolute;
		right: 0px;
    	bottom: 18px;
	}

	&:hover {
		background-color: $mainColor;
		color: #fff;

		&::before {
		content: "";
	    display: block;
	    width: 23px;
	    height: 2px;
	    background-color: #fff;
		transform: rotate(0deg);
		position: absolute;
		left: 0px;
    	bottom: 18px;
	}

		&::after {
		    background-color: #fff;
		}
	}
}


.container {
	width: 1100px;
	margin: 0 auto;

	.row { 
		display: flex;
	}
}

